# Copie ce fichier en .env.local et remplis tes valeurs Supabase
# NE JAMAIS committer ce fichier sur GitHub !

VITE_SUPABASE_URL=https://XXXXXXXXXXXXXX.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
